body {
    background-color:rgb(100, 0, 0);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}

#titlebg {
    margin-top:30px;
    margin-bottom:30px;
    background-color:rgba(255,0,0,0.5);
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#title {
    text-align:center;
    font-size:60px;
}

#top-gifs {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.tenor-gif-embed {
    margin:20px;
}

#whyjolly {
    margin-top:30px;
    background-color:rgba(255,0,0,0.3);
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#jollyreasons {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.jollyreasonbox {
    background-color:rgba(255,0,0,0.1);
    border-radius:10px;
    margin:15px;
    width:300px;
    height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:50px;
}

.jollyreasonbox:hover {
    scale:1.05;
    cursor:pointer;
    transition-duration:0.2s;
}

.jollyreasonbox:active {
    background-color:rgba(255,0,0,0.2);
    transition-duration:0s;
}

#jollynessmeasure {
    margin-top:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#jollytest {
    margin-top:30px;
    background-color:rgba(255,0,0,0.3);
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#jollybutton {
    background-color:rgba(255,0,0,0.1);
    border-radius:10px;
    margin:15px;
    width:300px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:50px;
}

#jollybutton:hover {
    scale:1.05;
    cursor:pointer;
    background-color:rgba(255,0,0,0.2);
    transition-duration:0.2s;
}

#jollybutton:active {
    background-color:rgba(255,0,0,0.3);
    transition-duration:0s;
}